<html>

<head>
    <title>Tilopay SDK DEMO | Basic Form</title>
</head>

<body>

    <h1>This is a Tilopay Heading</h1>
    <p>This is a paragraph.</p>

    <div class="payFormTilopay">
        <label>Payment Method</label>
        <select name="tlpy_payment_method" id="tlpy_payment_method">
            <option value="">Select payment method</option>
        </select>
        <br /><br />

        <div id="tlpy_card_payment_div">
            <label>Cards</label>
            <select name="tlpy_saved_cards" id="tlpy_saved_cards">
                <option value="">Select card</option>
            </select>
            <br /><br />

            <label>Card number</label>
            <input type="text" id="tlpy_cc_number" name="tlpy_cc_number" value="">
            <br /><br />

            <label>Card expire</label>
            <input type="text" id="tlpy_cc_expiration_date" name="tlpy_cc_expiration_date" value="">
            <br /><br />

            <label>Cvv number</label>
            <input type="text" id="tlpy_cvv" name="tlpy_cvv" value="">
            <br /><br />
        </div>

        <div id="tlpy_phone_number_div" style="display: none;">
            <label>Phone number</label>
            <input type="text" id="tlpy_phone_number" name="tlpy_phone_number" value="">
            <br /><br />

        </div>

        <input type="button" onclick="processPayment();" value="Pay">
        <input type="button" onclick="updateTilopaySDKOptions();" value="Reload">
        <input type="button" onclick="getCardBrand();" value="Get Type">
        <input type="button" onclick="getSinpeMovilInstructionsToPay();" value="Get Sinpe Data">
        <input type="button" onclick="getCipherData();" value="Get Cipher Data">
    </div>

    <div id="responseTilopay"></div>

    <!-- First option, as usual -->
    <script src="https://app.tilopay.com/sdk/v2/sdk_tpay.min.js"></script>
    <!-- Second option, recommend if you want avoid cache or are integrate angular or similar framework-->
    <!-- <script>
        var tlpy_SDK_script = document.createElement('script');
        tlpy_SDK_script.src = "https://app.tilopay.com/sdk/v2/sdk_tpay.min.js?v=" + Date.now();
        document.body.appendChild(tlpy_SDK_script);
    </script> -->

    <script type="text/javascript">

        // SDK on Ready document
        document.addEventListener("DOMContentLoaded", async function () {

            // Initialize Tilopay SDK
            var initialize = await Tilopay.Init({
                token: '',
                currency: "USD",
                language: "es",
                amount: 1,
                billToFirstName: "Jose",
                billToLastName: "Lopez",
                billToAddress: "San Jose",
                billToAddress2: "",
                billToCity: "",
                billToState: "",
                billToZipPostCode: "",
                billToCountry: "CR",
                billToTelephone: "",
                billToEmail: "your-email@example.com",
                orderNumber: "sdk-" + Date.now(),
                capture: 1,
                redirect: "https://tilopay.test/response",
                subscription: 0,
                hashVersion: "V2",
                returnData: "W2N1c3RvbV9wYXJhbWV0ZXJfYSA9PiAidmFsb3IgZGUgYSIsY3VzdG9tX3BhcmFtZXRlcl9iID0+ICJ2YWxvciBkZSBiIl0=" // base 64 array [custom_parameter_a => "valor de a",custom_parameter_b => "valor de b"]
            });

            await loadPaymentMethodsOptions(initialize.methods);
            await loadCardOptions(initialize.cards);

            /**
             * Called when the user changes the payment method.
             * If the new method is Yappy, hide the card number, expiration and CVV
             * inputs and show the phone number input. Otherwise, show the card
             * number inputs and hide the phone number input.
             * @param {Event} e The change event.
             */
            document.getElementById("tlpy_payment_method").onchange = async function (e) {
                var method = document.getElementById("tlpy_payment_method").value;
                if (method) {
                    const splitMethods = method.split(':');
                    const showInputs = (splitMethods[1] == '18');
                    const tlpy_card_payment_div = document.getElementById("tlpy_card_payment_div");
                    if (tlpy_card_payment_div && showInputs) {
                        tlpy_card_payment_div.style.display = 'none';
                    } else {
                        tlpy_card_payment_div.style.display = 'block';
                    }
                    const tlpy_phone_number_div = document.getElementById("tlpy_phone_number_div");
                    if (tlpy_phone_number_div && showInputs) {
                        tlpy_phone_number_div.style.display = 'block';
                        // Update phone yappy to process the payment
                        await setYappyPhone();
                    } else {
                        tlpy_phone_number_div.style.display = 'none';
                    }
                }

            };

        });

        /**
         * Function to update the yappy phone number in the Tilopay object
         * This function is called when the user change the phone number in the form
         * @return {Promise<void>}
         */
        async function setYappyPhone() {
            document.getElementById("tlpy_phone_number").onchange = async function () {
                var phone = document.getElementById("tlpy_phone_number").value;
                if (phone) {
                    var update = await Tilopay.updateOptions({
                        phoneYappy: document.getElementById("tlpy_phone_number").value,
                    });
                }
            }
        }

        /**
         * Example of how to get the card brand
         * @return {Promise<string>}
         */
        async function getCardBrand() {
            console.log(await Tilopay.getCardType());
        }

        /**
         * Function to update the options for the Tilopay object
         * This function is called when the user clicks on the "Update options" button
         * @return {Promise<void>}
         */
        async function updateTilopaySDKOptions() {
            var update = await Tilopay.updateOptions({
                typeDni: 1,
                dni: "07-0777-0777",
                billToFirstName: "Jose",
                billToLastName: "Lopez",
                billToAddress: "San Jose",
                billToAddress2: "",
                billToCity: "",
                billToState: "",
                billToZipPostCode: "",
                billToCountry: "CR",
                billToTelephone: "",
                billToEmail: "dcordero@tilo.co",
                orderNumber: "1",
                capture: 1,
                redirect: "https://tilopay.test/response",
                subscription: 0
            });
        }

        /**
         * Populates the payment method dropdown with options.
         *
         * @param {Array} methods - An array of payment method objects, each containing an 'id' and 'name'.
         * The function creates an <option> element for each method and appends it to the select element
         * with the id "tlpy_payment_method".
         */
        async function loadPaymentMethodsOptions(methods) {
            methods.forEach(function (method) {
                var option = document.createElement("option");
                option.value = method.id;
                option.text = method.name;
                document.getElementById("tlpy_payment_method").appendChild(option);
            });
        }

        /**
         * Populates the saved card dropdown with options.
         *
         * @param {Array} cards - An array of card objects, each containing an 'id' and 'name'.
         * The function creates an <option> element for each card and appends it to the select element
         * with the id "tlpy_saved_cards".
         */
        async function loadCardOptions(cards) {
            cards.forEach(function (card) {
                var option = document.createElement("option");
                option.value = card.id;
                option.text = card.name;
                document.getElementById("tlpy_saved_cards").appendChild(option);
            });
        }

        /**
         * Function to get the instructions to pay with sinpe movil
         *
         * This function will return the instructions to pay with sinpe movil, it will return an object with the following properties:
         * - message: A string with the instructions to pay with sinpe movil
         * - code: A string with the code of the payment
         * - amount: A number with the amount of the payment
         * - number: A string with the number of the payment
         *
         * It will console.log the instructions to pay with sinpe movil
         *
         * @return {Promise<void>}
         */
        async function getSinpeMovilInstructionsToPay() {
            var params = await Tilopay.getSinpeMovil();
            console.log(params);
        }

        /**
         * Processes the payment.
         *
         * This function will call the Tilopay.startPayment() method and log the response to the console.
         *
         * @return {Promise<void>}
         */
        async function processPayment() {
            var payment = await Tilopay.startPayment();
            console.log(payment);
        }

        /**
         * Get the cipher data.
         *
         * This function will call the Tilopay.getCipherData() method and log the response to the console.
         *
         * @return {Promise<void>}
         */
        async function getCipherData() {
            var cipher = await Tilopay.getCipherData();
            console.log(cipher);
        }
    </script>

</body>

</html>